.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

.footer .logo {
    margin-bottom: 30px;

}

.footer h4 {
    font-size: 14px;
    padding-top: 18px;

}

.footer p {
    font-size: 16px;
    text-decoration: none;
    
    
}

.footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 11px;
}

.footer .follow{
    margin-top: 18px;


}


.footer .follow i{
    color: #465b52;
    padding-right: 8px;
    cursor: pointer;


}

.footer .app-install .row img{
    border: 1px solid black;
    border-radius: 6px;
}

.footer .app-install .pay {
    margin-top: 10px;
    margin-bottom: 15px

}

.footer .follow i:hover,
.footer a:hover {
    color: #088178;
}

.footer .copyright {
    width: 100%;
    text-align: center;
}

/* .footer {
    background-color: #222222;

} */

.h2{
    color: #fff;
}

.text{
    color: #999;

}