@tailwind base;
@tailwind components;
@tailwind utilities;


.sideCart {
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    transition: 0.3s ease;
    z-index: 999;
}

.active {
    right: 0;
}

body {
    overflow-x: hidden;
}